{% extends 'base.html.twig' %}

{% block title %}Declarer litige{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/declarer_litige.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/controllers/litige/litige.js') }}"></script>
{% endblock %}

{% block body %}
    {% if erreur is defined and erreur is not empty %}
        <script>
            afficherAlerte("{{ erreur }}");
        </script>
    {% endif %}
    <div id="decl-litige">
        <div class="decl-titre">
            <h1>Déclaration de litige</h1>
        </div>

        {{ form_start(DeclarerLitigeType) }}
        <div id="decl-form">
            <div class="decl-reste">
                {{ form_row(DeclarerLitigeType.transaction) }}
                {{ form_row(DeclarerLitigeType.description) }}
                <div class="div-flex-row">
                    {{ form_row(DeclarerLitigeType.valider) }}
                    <button class="decl_btn"><a href="/main">Annuler</a></button>
                </div>
            </div>
        </div>
        {{ form_end(DeclarerLitigeType) }}
    </div>

{% endblock %}
