{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/sign-up.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/controllers/sign-up/sign-up.js') }}"></script>
{% endblock %}
{% block title %}Création d'un compte
{% endblock %}
{% block body %}
{% if erreur is defined and erreur is not empty %}
	<script>
		afficherAlerte("{{ erreur }}");
	</script>
{% endif %}
<div class="div-sign-up-Centrer">
	<div>
		<h1>Création d’un compte</h1>
	</div>
	<div class="div-sign-up-all-input">
		{{ form_start(registrationForm) }}
		<div class="div-sign-up-input">
			<div class="label-container">
			<label><img src="/img/utilisateur.png" width="48" height="48" class="sign-up-logo"></label>
			</div>
			{{ form_row(registrationForm.NomCompte, {label: false, attr: {
                    class: 'sign-up-input',
                    placeholder: 'Nom'
                }})  }}
		</div>
		<div class="div-sign-up-input">
		<div class="label-container">
			<label><img src="/img/utilisateur.png" width="48" height="48" class="sign-up-logo"></label>
			</div>
			{{ form_row(registrationForm.PrenomCompte, {label: false, attr: {
                    class: 'sign-up-input',
                    placeholder: 'Prénom'
                }})  }}
		</div>
		<div class="div-sign-up-input">
		<div class="label-container">
			<label><img src="/img/email.png" width="48" height="48" class="sign-up-logo"></label>
			</div>
			{{ form_row(registrationForm.AdresseMailCOmpte, {label: false, attr: {
                    class: 'sign-up-input',
                    placeholder: 'Email'
                }})}}
		</div>
		<div class="div-sign-up-input">
		<div class="label-container">
			<label><img src="/img/mot-de-passe.png" width="55" height="55" class="sign-up-logo-mdp"></label>
			</div>
			<div class="label-container">
			<label><img id="VCmdp" src="/img/cacher.png" width="48" height="48" class="sign-up-logo-oeil" onclick="afficherCacherMdp()"></label>
			</div>
			{{ form_row(registrationForm.plainPassword, {
                    label: false, 
                    attr: {
                         class: 'sign-up-input',
                         placeholder: 'Mot de passe'
                        }
                }) }}
		</div>
		<input type="magicInput" name="magicInput" id="magicInput" style="display: none;">
		<div class="sign-up-agree-terms">
			{{ form_row(registrationForm.agreeTerms, {
                    label: 'Veuillez accepter les termes et conditions d\'utilisations de vos données',
                    }) }}
            </div>

			<button type="submit" class="sign-up-btn"><b>Création du compte</b></button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}