<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/base.css') }}">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav class="nav">
			<ul class="ul">
				<li class="li">
					<a href="/main" class="a">
						<img src="/img/leaves-svgrepo-com.svg" width="48" height="48" class="login-logo-mdp">
						<h3 class="titreMain">EcoPrêt</h3>
					</a>
				</li>
				<li class="li">
					<div class="containerFLORAIN">
						{% if user is defined %}
							<h3 class="hover-me">Florains :
								{{ florins }}</h3>
							<div class="tooltip">
								<p>Money Money Money 💸</p>
							</div>
						{% endif %}
					</div>
				</li>
				<li class="li">
					<div class="InputContainer">
						<li class="li">
							<div class="InputContainer"></div>
						</li>
					</div>
				</li>
				<li class="li-notif">
					{% if user is defined %}
						<a href="/notification" class="notif">
							<i class="fa fa-bell" aria-hidden="true"></i>
							{% if nbNotif != 0 %}
								<span>{{ nbNotif }}</span>
							{% endif %}
						</a>
					{% endif %}
				</li>
				<li class="li menu-deroulant">
					{% if user is defined %}
						<a href="" class="nomUser">{{user.getNomCompte()}}
							&#10224;</a>
						<ul class="sous-menu">
							<li>
								<a href="/infos">
									<h4>Informations personnelles</h4>
								</a>
							</li>
							<li>
								<a href="/mes_annonces">
									<h4>Mes annonces</h4>
								</a>
							</li>
							<li>
								<a href="/conversation">
									<h4>Mes conversations</h4>
								</a>
							</li>
							<li>
								<a href="/abonnement">
									<h4>Abonnement</h4>
								</a>
							</li>
							<li>
								<a href="/gel">
									<h4>Gel/Degel du compte</h4>
								</a>
							</li>
							<li>
								<a href="/mes/transactions">
									<h4>Vos transactions</h4>
								</a>
							</li>
							<li>
								<a href="/echanges">
									<h4>Vos échanges</h4>
								</a>
							</li>
							<li>
								<a href="/echange/accepter">
									<h4>Demandes d'échanges reçues</h4>
								</a>
							</li>
							<li>
								<a href="/litige">
									<h4>Vos litiges</h4>
								</a>
							</li>
							<li>
								<a href="/infos/supprimer">
									<h4>Supprimer son compte</h4>
								</a>
							</li>
							<li>
								<a href="/logout">
									<h4>Déconnexion</h4>
								</a>
							</li>
						</ul>
					{% endif %}
				</li>
			</ul>
		</nav>
		<!--img src="../../img/plantes/plante.jpg" class="plante" id="plante1">
		        <img src="../../img/plantes/plante2.png" class="plante" id="plante2">
		        <img src="../../img/plantes/plante4.png" class="plante" id="plante3"-->
		{% block body %}{% endblock %}
	</body>
</html>
