{% extends 'base.html.twig' %}

{% block title %}Echange{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/echange.css') }}">
{% endblock %}
{% block javascripts %}
    <script>
        function afficherAlerte(message){
            alert(message);
        }
    </script>
{% endblock %}
{% block body %}

    {% if erreur is defined and erreur is not empty %}
        <script>
            afficherAlerte("{{ erreur }}");
        </script>
    {% endif %}

    <h1>Demander un échange</h1>
    <div class="container">
            <div class="formulaire">
                <label>Choisissez une annonce à échanger</label>
                {{ form_start(form) }}
                    {{ form_widget(form.annonce) }}
                {{ form_end(form) }}
                <a href="/main"><button>Annuler</button></a>
        </div>
    </div>

{% endblock %}
