<script>
    window.onload = function() {
        var disponibilite = {{ disponibilite|json_encode|raw }};
        setDisponibility(disponibilite);
    };
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Stay organized with our user-friendly Calendar featuring events, reminders, and a customizable interface. Built with HTML, CSS, and JavaScript. Start scheduling today!"/>
    <meta name="keywords" content="calendar, events, reminders, javascript, html, css, open source coding"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ asset('css/calandar.css') }}"/>
    
    <title>{% block title %}Planning{% endblock %}</title>
</head>
<body>
{% block body %}
<div class="container">
    <div class="left">
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">décembre 2015</div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
              <div>Dim</div>
              <div>Lun</div>
              <div>Mar</div>
              <div>Mer</div>
              <div>Jeu</div>
              <div>Ven</div>
              <div>Sam</div>
            </div>
            <div class="days"></div>
            <div class="goto-today">
                <div class="goto">
                    <input type="text" placeholder="mm/yyyy" class="date-input"/>
                    <button class="goto-btn">Go</button>
                </div>
                <button class="today-btn">Aujourd'hui</button>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="today-date">
            <div class="event-day">Mer</div>
            <div class="event-date">12 décembre 2022</div>
        </div>
        <div class="events"></div>
        <div class="add-event-wrapper">
            <div class="add-event-header">
                <div class="title">Ajouter une disponibilité</div>
                <i class="fas fa-times close"></i>
            </div>
            {{ form_start(form, {'attr': {'id': 'myForm'}}) }}
                <div class="add-event-body">
                    <div class="add-event-input">
                        <input type="text" placeholder="A partir de" class="event-time-from" name="event-time-from"/>
                    </div>
                    <div class="add-event-input">
                        <input type="text" placeholder="Jusqu'à" class="event-time-to"/>
                    </div>
                    <div class="dropdown">
                        <select class="select" onchange="changeSelect()">    
                            <option value="none">Aucune récurrence</option>
                            <option value="daily">Tous les jours</option>  
                            <option value="weekly">Toutes les semaines</option>
                            <option value="monthly">Tout les mois</option>
                        </select>
                    </div>
                    <div class="add-event-input">
                        <input type="number" placeholder="Nombre de récursions" class="nb-recursion-input" min="2" max="50" style="display : none;"/>
                    </div>
                    <div class="add-event-footer">
                        <button type="button" class="event-time-all">Toute la journée</button>
                    </div>
                </div>
                <div class="stock-info">
                    <textarea id="infos" class="infos" name="infos" style="display : none;"></textarea>
                </div>
                <div class="add-event-footer">
                    <button type="button" class="add-event-btn">Ajouter</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <button class="delete" onclick="removeAllEvent()" title="Tout supprimer">
        <i class="fa fa-trash"></i>
    </button>
    <button type="submit" class="valid" onclick="submitForm()" title="Valider">
        <i class="fas fa-check"></i>
    </button>
    <button type="submit" class="leave" onclick="redirectToMain()" title="Quitter">
        <i class="fas fa-times"></i>
    </button>
    <button class="add-event" title="Ajouter une disponibilité">
        <i class="fas fa-plus"></i>
    </button>
</div>

<div class="credits">
    <p>
    </p>
</div>
{% endblock %}

<script src="{{ asset('js/controllers/calandar/calandar.js') }}"></script>

</body>
</html>
