{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/chat.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function () {
            let chatDiv = document.getElementById('chat');

            chatDiv.scrotop = chatDiv.scrollHeight; // On souhaite scroller toujours jusqu'au dernier message du chat

            let form = document.getElementById('form');
            function handleForm(event) {
                event.preventDefault(); // Empêche la page de se rafraîchir après le submit du formulaire
            }
            form.addEventListener('submit', handleForm);

            const submit = document.querySelector('button');
            submit.onclick = e => { // On change le comportement du submit
                const message = document.getElementById('message'); // Récupération du message dans l'input correspondant
                const data = { // La variable data sera envoyée au controller
                    'content': message.value, // On transmet le message...
                    'conv': {{ conv.id }} // ... Et la conversation correspondant
                }
                fetch('/message/post', { // On envoie avec un post nos datas sur le endpoint /message de notre application
                    method: 'POST',
                    body: JSON.stringify(data) // On envoie les data sous format JSON
                }).then((response) => {
                    message.value = '';
                });

                chatDiv.innerHTML += ("<div class=\"row w-75 float-left\"><b>{{ app.user.PrenomCompte }}</b><p class=\"alert alert-info w-100\">{message}</p></div>").replace("{message}", message.value);
            }

           setInterval(recupererMessages, 2000, {{ conv.id }});
        }

        async function recupererMessages(id){
            fetch('/message/get', { // On envoie avec un post nos datas sur le endpoint /message de notre application
                method: 'POST',
                body: id
            }).then((response) => {
                appendMessages(response)
            });

            let chatDiv = document.getElementById('chat');
            chatDiv.scrotop = chatDiv.scrollHeight;
        }

        async function appendMessages(response){
            let chatDiv = document.getElementById('chat');
            let messages = JSON.parse(await response.text());
            messages.forEach(message => {
                console.log(message.expeditaire, {{ app.user.id }})
                if (message.expeditaire === {{ app.user.id }}){
                    chatDiv.innerHTML += ("<div class=\"row w-75 float-left\"><b>{prenom}</b><p class=\"alert alert-info w-100\">{message}</p></div>".replace("{prenom}", message.prenom).replace("{message}", message.message));
                }
                else {
                    chatDiv.innerHTML += ("<div class=\"row w-75 float-right\"><b>{prenom}</b><p class=\"alert alert-info w-100\">{message}</p></div>".replace("{prenom}", message.prenom).replace("{message}", message.message));
                }
            });
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="container" style="overflow-y: scroll">
            <div id="chat" class="container bg-light h-75 overflow-auto">
                {% for message in messages %}
                    {% if app.user == message.expeditaire %}
                        <div class="row w-75 float-right">
                            <b>{{ message.expeditaire.PrenomCompte }}</b>
                            <p class="alert alert-info w-100">
                                {{ message.message }}
                            </p>
                        </div>
                    {% else %}
                        <div class="row w-75 float-left">
                            <b>{{ message.expeditaire.PrenomCompte }}</b>
                            <p class="alert alert-success w-100">
                                {{ message.message }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <form id="form" class="container row">
                    <input id="message" class="input-group-text col-sm-9" placeholder="Message" type="text" />
                    <button id="submit" type="submit" class="btn btn-success col-sm-3">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}