{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/chat.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function () {
            let chatDiv = document.getElementById('chat');
            window.scrollTo(0, document.body.scrollHeight);

            let form = document.getElementById('form');
            function handleForm(event) {
                event.preventDefault(); // Empêche la page de se rafraîchir après le submit du formulaire
            }
            form.addEventListener('submit', handleForm);

            const submit = document.querySelector('button');
            submit.onclick = e => { // On change le comportement du submit
                const message = document.getElementById('message'); // Récupération du message dans l'input correspondant
                const data = { // La variable data sera envoyée au controller
                    'content': message.value, // On transmet le message...
                    'conv': {{ conv.id }} // ... Et la conversation correspondant
                }
                fetch('/message/post', { // On envoie avec un post nos datas sur le endpoint /message de notre application
                    method: 'POST',
                    body: JSON.stringify(data) // On envoie les data sous format JSON
                }).then((response) => {
                    message.value = '';
                });

                chatDiv.innerHTML += ("<div class=\"message-right\"><div class=\"bulle-droite\"><b>{{ app.user.PrenomCompte }}</b><p>{message}</p></div></div>").replace("{message}", message.value);
                window.scrollTo(0, document.body.scrollHeight);
            }

           setInterval(recupererMessages, 2000, {{ conv.id }});
        }

        async function recupererMessages(id){
            fetch('/message/get', { // On envoie avec un post nos datas sur le endpoint /message de notre application
                method: 'POST',
                body: id
            }).then((response) => {
                appendMessages(response)
            });

            let chatDiv = document.getElementById('chat');
            chatDiv.scrotop = chatDiv.scrollHeight;
        }

        async function appendMessages(response){
            let chatDiv = document.getElementById('chat');
            let scrollheight = chatDiv.scrollTop; // TODO
            let messages = JSON.parse(await response.text());
            messages.forEach(message => {
                console.log(message.expeditaire, {{ app.user.id }})

                if (message.expeditaire === {{ app.user.id }}){
                    chatDiv.innerHTML += ("<div class=\"message-right\"><div class=\"bulle-droite\"><b>{prenom}</b><p>{message}</p></div></div>".replace("{prenom}", message.prenom).replace("{message}", message.message));
                }
                else {
                    chatDiv.innerHTML += ("<div class=\"message-left\"><div class=\"bulle-gauche\"><b>Vous</b><p>{message}</p></div></div>".replace("{message}", message.message));
                }
                window.scrollTo(0, document.body.scrollHeight);
            });
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div id="chat">
            {% for message in messages %}
                {% if app.user == message.expeditaire %}
                    <div class="message-right">
                        <div class="bulle-droite">
                            <b>Vous</b>
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="message-left">
                        <div class="bulle-gauche">
                            <b>{{ message.expeditaire.PrenomCompte }}</b>
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            <form id="form">
                <input id="message" class="div_input" placeholder="Message" type="text" />
                <button id="submit" type="submit" class="message_btn">Envoyer</button>
            </form>
    </div>
{% endblock %}