{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/conversations.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container">
        {% if conversations %}
            <h2>Vos conversations :</h2>
            <table class="table table-striped">
                <tbody>
                    {% for conversation in conversations %}
                        {% if conversation %}
                            <tr class="">
                                <th>
                                    <a class="btn btn-primary float-right" href="{{ path('app_conversation_chat', {id: conversation.id}) }}">
                                        {% if app.user == conversation.participant1 %}
                                            <span>{{ conversation.id }} - {{ conversation.participant2.PrenomCompte }}</span>
                                        {% else %}
                                            <span>{{ conversation.id }} - {{ conversation.participant1.PrenomCompte }}</span>
                                        {% endif %}
                                    </a>
                                </th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                <div class="alert alert-danger text-center">Aucune conversion trouvée.</div>
            </div>
        {% endif %}
    </div>
{% endblock %}