{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/mdp_oublie.css') }}">
{% endblock %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de votre mot de passe</h1>
            <div class="form">{{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                    <button class="submit_mdp" type="submit">Envoyer</button>
                {{ form_end(requestPassForm) }}
            </div>
        </div>
    </div>
</section>

{% endblock %}