{% extends 'base.html.twig' %}

{% block title %}Supprimer Compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/suppr_compte.css') }}">
{% endblock %}

{% block body %}
    {% if erreur is defined and erreur is not empty %}
        <script>
            afficherAlerte("{{ erreur }}");
        </script>
    {% endif %}
<div class="div-suppr-compte">
    <div class="div-suppr-compte-titre">
        <h1>Suppression du compte</h1>
    </div>
    <div class="div-suppr-compte-avertissement">
        <h3>Êtes-vous sur ?</h3><br>
        <p>Cela va entrainer la suppression de vos informations et de votre compte</p>
    </div>

    {{ form_start(SupprimerCompteFormType) }}
    <div class="div-suppr-compte-boutons">
        {{ form_row(SupprimerCompteFormType.valider) }}
        {{ form_row(SupprimerCompteFormType.annuler) }}
    </div>
    {{ form_end(SupprimerCompteFormType) }}
</div>
{% endblock %}
