{% extends 'base.html.twig' %}

{% block title %}Modifier ses informations personnelles{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/infos_perso.css') }}">

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/controllers/sign-up/sign-up.js') }}"></script>
{% endblock %}

{% block body %}
    {% if erreur is defined and erreur is not empty %}
        <script>
            afficherAlerte("{{ erreur }}");
        </script>
    {% endif %}
    
    <img src="../img/plante.jpg" id="background">

    <div class="div-modif-infos-Centrer">

        <div class="modif-infos-titre">
            <h1>Modifier ses informations personnelles</h1>
        </div>

        {{ form_start(InformationsPersonnellesForm) }}

        <div class="div-modif-infos-all-input">
            <div class="div-modif-infos-input">
                {{ form_errors(InformationsPersonnellesForm.NomCompte) }}
                {{ form_label(InformationsPersonnellesForm.NomCompte, "Nom")}}
                {{ form_widget(InformationsPersonnellesForm.NomCompte, {
                    'attr': {
                        'class': 'modif-infos-input'}}) }}
            </div>

            <div class="div-modif-infos-input">
                {{ form_errors(InformationsPersonnellesForm.PrenomCompte) }}
                {{ form_label(InformationsPersonnellesForm.PrenomCompte, "Prénom")}}
                {{ form_widget(InformationsPersonnellesForm.PrenomCompte, {
                    'attr': {
                        'class': 'modif-infos-input'} }) }}
            </div>

            <div class="div-modif-infos-input">
                {{ form_errors(InformationsPersonnellesForm.AdresseMailCOmpte) }}
                {{ form_label(InformationsPersonnellesForm.AdresseMailCOmpte, "Adresse mail")}}
                {{ form_widget(InformationsPersonnellesForm.AdresseMailCOmpte, {
                    'attr': {
                        'class': 'modif-infos-input'} }) }}
            </div>

            <div class="div-modif-infos-input">
                {{ form_errors(InformationsPersonnellesForm.motDePasseCompte) }}
                {{ form_label(InformationsPersonnellesForm.motDePasseCompte, "Mot de passe")}}
                {{ form_widget(InformationsPersonnellesForm.motDePasseCompte, {
                    'attr': {
                        'class': 'modif-infos-input'} }) }}
            </div>

            <div class="div-modif-infos-input">
                {{ form_errors(InformationsPersonnellesForm.lieu) }}
                {{ form_label(InformationsPersonnellesForm.lieu, "Lieu")}}
                {{ form_widget(InformationsPersonnellesForm.lieu, {
                    'attr': {
                        'class': 'modif-infos-input'} }) }}
            </div>
            <button type="submit" class="modif_btn"><b>Modifier</b></button>

            {{ form_end(InformationsPersonnellesForm) }}
        </div>
    </div>

{% endblock %}