{% extends 'base.html.twig' %}

{% block title %}Informations peronnelles{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/infos_perso.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/controllers/infos_perso/carteIdentite.js') }}"></script>
{% endblock %}
{% block body %}

    {% if erreur is defined and erreur is not empty %}
        <script>
            afficherAlerte("{{ erreur }}");
        </script>
    {% endif %}

<div class="div-modif-infos-Centrer">

    <div class="modif-infos-titre">
        <h1>Informations personnelles</h1>
    </div>
    <div style="border: 2px solid black; padding: 10px;
    width: 60%;
    border-radius:45px;
    opacity:0.85;
    transition:  opacity 0.3s;
    transition:  width 0.8s;
    transition:  width height 0.5s;
    transition:  font-size 0.1s;
    box-shadow: 2px 2px 3px 2px rgb(58, 49, 52);
    margin: 0 auto; /*Forcer centrage texte*/">
        <h3>Nom : {{compte.NomCompte}}</h3>
        <h3>Prenom : {{compte.PrenomCompte}}</h3>
        <h3>Mail : {{compte.AdresseMailCOmpte}}</h3>
        <h3>Nombre Florains : {{userCompte.getNbFlorains()}}</h3>
    </div>
    <br>
    <br>

    {{ form_start(InformationsPersonnellesForm, {'attr' : {'onsubmit': 'return validerCarteIdentite();'}}) }}

    <div class="div-modif-infos-all-input">

        <div class="div-modif-infos-input">
            {{ form_errors(InformationsPersonnellesForm.lieu) }}
            {{ form_label(InformationsPersonnellesForm.lieu, "Lieu")}}
            {{ form_widget(InformationsPersonnellesForm.lieu, {
                'attr': {
                    'class': 'modif-infos-input'} }) }}
        </div>

        <div class="div-modif-infos-input">

            {{ form_label(InformationsPersonnellesForm.annonce, "Souhaitez vous déposer des annonces ?") }}
            {{ form_errors(InformationsPersonnellesForm.annonce) }}
            {{ form_widget(InformationsPersonnellesForm.annonce, {
                'attr': {
                    'class': 'modif-infos-input',
                } }) }}
        </div>
        <div class="div-modif-infos-input">
            {{ form_label(InformationsPersonnellesForm.carte_identite, "Carte d'identité") }}
            {{ form_errors(InformationsPersonnellesForm.carte_identite) }}
            {{ form_widget(InformationsPersonnellesForm.carte_identite, {
                'attr': {
                    'class': 'modif-infos-input'} }) }}
        </div>

        <div class="div_buttons">
            <button type="button" class="modif_btn"><a href="/main"><b>Annuler</b></a></button>
            <button type="submit" class="modif_btn"><b>Valider</b></button>
        </div>
        <div class="div_buttons">

            <button type="button" class="modif_btn" id="modif"><a href="/infos/modif"><b>Modifier ses information personnelles</b></a></button>
        </div>
        {{ form_end(InformationsPersonnellesForm) }}
    </div>

{% endblock %}
