{% extends 'base.html.twig' %}

{% block title %}Vos Transactions{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/transaction.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/controllers/transaction/transaction.js') }}"></script>
{% endblock %}

{% block body %}
    {% if erreur is defined and erreur is not empty %}
        <script>
            afficherAlerte("{{ erreur }}");
        </script>
    {% endif %}


    <div id="transactions">
        <div class="transaction-titre">
            <h1>Vos Transactions</h1>
        </div>

        <div id="description">
            <label class="description">Vous pouvez noter une transaction clôturé.</label>
        </div>
        <div id="boutons">
            <button class="home-btn" onclick="back()">Accueil</button>
        </div>

        {% if transactions %}
            {% for transaction in transactions %}
                {% if transaction %}
                    <div class="transaction">
                        <div>
                            <p>Id</p>
                            <p class="id_transaction">{{ transaction.id }}</p>
                        </div>
                        <div>
                            <p>Nom</p>
                            <p class="nom_annonce">{{ transaction.annonce.NomAnnonce }}</p>
                        </div>
                        <div>
                            <p>Statut</p>
                            <p class="statut">{{ (transaction.EstCloture ? "Cloturée" : "En cours") }}</p>
                        </div>
                        <div class="cloturer">
                            {% if transaction.annonce.prestataire.noUtisateur.noCompte == app.user and not  transaction.annonce.EstUnEmprunt %}
                                <a href="/retour/{{ transaction.id }}"><button>Cloturer</button></a>
                            {% elseif transaction.client.noCompte == app.user and transaction.annonce.EstUnEmprunt %}
                                <a href="/fin/{{ transaction.id }}"><button>Cloturer</button></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas effectué de transactions</p>
        {% endif %}
    </div>

{% endblock %}
