{% extends 'base.html.twig' %}

{% block title %}Vos Transactions{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/transaction.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/controllers/transaction/transaction.js') }}"></script>
{% endblock %}

{% block body %}
    {% if erreur is defined and erreur is not empty %}
        <script>
            afficherAlerte("{{ erreur }}");
        </script>
    {% endif %}


    <div id="transactions">
        <div class="transaction-titre">
            <h1>Vos Transactions</h1>
        </div>

        <div id="description">
            <label class="description">Vous pouvez noter une transaction clôturé.</label>
        </div>
        <div id="boutons">
            <button class="home-btn" onclick="back()">Accueil</button>
        </div>
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
            <tr>
                <th>Numéro annonce</th>
                <th>Nom</th>
                <th>Statut</th>
                <th></th>
                <th>Noter</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr  data-transaction-id="{{ transaction.getId() }}">
                    <td data-title="id">{{ transaction.getId() }}</td>
                    <td data-title="nom">{{ transaction.getAnnonce().getNomAnnonce() }}</td>
                    {% if transaction.isEstCloture() == '0' %}
                        <td data-title="statut">En cours</td>
                        <td><a class="cloturer" href="/{{ transaction.annonce.EstUnEmprunt ? "fin" : "retour" }}/{{ transaction.id }}"><button>Cloturer</button></a></td>
                        <td></td>
                    {% elseif transaction.isEstCloture() == '1' %}
                        {% if transaction.isEstNote() != '1' %}
                            <td data-title="statut">Clôturé</td>
                            <td><a class="cloturer" href="/{{ transaction.annonce.EstUnEmprunt ? "fin" : "retour" }}/{{ transaction.id }}"><button>Cloturer</button></a></td>
                            <td><a href="{{ path('noter', {'idTransaction': transaction.getId()}) }}" class="noter">Noter</a></td>
                        {% elseif transaction.isEstNote() == '1' %}
                            <td data-title="statut">Clôturé</td>
                            <td></td>
                            <td data-title="statut">Déjà noté</td>
                        {% endif %}
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}