{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/controllers/main/main.js') }}"></script>
{% endblock %}
{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<nav>
		<ul>
			<li>
				<a href="/main">
					<img src="/img/leaves-svgrepo-com.svg" width="48" height="48" class="login-logo-mdp">
					<h3 class="titreMain">{{title}}</h3>
				</a>
			</li>
			<li>
				<h3 class="nbFlorins">Florains : {{ florins }}</h3>
			</li>
			<li><input type="text" placeholder="Rechercher" class="inputSearch"></li>
			<li class="menu-deroulant">
				<a href="" class="nomUser">{{user.getNomCompte()}}
				</a>
				<ul class="sous-menu">
					<li>
						<a href="/infos">
							<h4>Informations personnelles</h4>
						</a>
					</li>
					<li>
						<a href="/mes_annonces">
							<h4>Mes annonces</h4>
						</a>
					</li>
					<li>
						<a href="/payment_information">
							<h4>Paiement de l'abonnement</h4>
						</a>
					</li>
					<li>
						<a href="/gel">
							<h4>Gel/Degel du compte</h4>
						</a>
					</li>
					<li>
						<a href="/mes/transactions">
							<h4>Vos transactions</h4>
						</a>
					</li>
					<li>
						<a href="/litige">
							<h4>Vos litiges</h4>
						</a>
					</li>
					{{ adminHtml|raw }}
					<li>
						<a href="/infos/supprimer">
							<h4>Supprimer son compte</h4>
						</a>
					</li>
					<li>
						<a href="/logout">
							<h4>Déconnexion</h4>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<main>
		<div>
			<button type="button" class="add-btn" onclick="afficherAddAnnonce()">
				<h3>Ajouter une annonce</h3>
			</button>
		</div>
		{{ form_start(form) }}
		{% if error is defined and error == "pasValide" %}
			<div class="card" id="card" >
		{% else %}
			<div class="card" id="card" style="display : none;">
		{% endif %}
			<h3 class="card__title">
				Ajouter une annonce
			</h3>
			<div class="card__content_img">
				<img src="" width="150" height="150" id="img1" onclick="clickphoto()">
				<img src="" width="150" height="150" id="img2" onclick="clickphoto()">
				<img src="" width="150" height="150" id="img3" onclick="clickphoto()">
			</div>
			<div class="card__content">
				{{form_row(form.titre)}}
			</div>
			<div class="card__content">
				{{form_row(form.description)}}
			</div>
			<div class="card__content">
				{{form_row(form.prix)}}
				<img src="/img/florain.png" width="48" height="48" id="florain">
			</div>
			<div class="card__content">
				{{form_row(form.ajouterPhoto)}}
				{{form_row(form.ajouterPhoto2)}}
				{{form_row(form.ajouterPhoto3)}}
			</div>
			<div class="switch">
				<div class="ES1">Emprunt</div>
				<div class="toggle-switch">
					<input name="toggle" class="toggle-input" id="toggle" type="checkbox">
					<label class="toggle-label" for="toggle"></label>
				</div>
				<div class="ES2">Service</div>
			</div>
			<div class="card__btn">
				<button type="button" class="annonce-btn" onclick="annulerAddAnnonce()">
					<b>Annuler</b>
				</button>
				<button class="plannin-btn" name="plannin-btn">Planning</button>
				<input type="submit" class="annonce-btn" value="Création de l'annonce" onclick="return ValidImage()">
				{{ form_end(form) }}
			</div>
		</div>

		<div class="annonces_liste">
			{% for annonce in annonces %}
				<div class="annonce_content">
					<div class="annonce">
						<h3>{{ annonce.getNomAnnonce }}</h3>
						<img class="annonce_image" src="{{ '/picturesAnnouncement/' ~ annonce.getImageAnnonce|split('|')[0] }}" alt="#">
					</div>
					<div class="annonce_description">
						<p>{{ annonce.getDescription }}</p>
						<button type="button" class="modif_btn"><a href="./main/choisir/{{ annonce.getId }}">Choisir</a></button>						
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
	<footer>
		<ul>
			<li><a href="/mentions_legales"><h5>Mentions légales</h5></a></li>
			<li><a href=""><h5></h5></a></li>
			<li><a href=""><h5>© Copyright 2024 ECOPRET<br>Tous droits réservés.</h5></a></li>
		</ul>
	</footer>

{% endblock %}
