{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/controllers/main/main.js') }}"></script>
{% endblock %}
{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<nav>
		<ul>
			<li>
				<a href="/main">
					<img src="/img/leaves-svgrepo-com.svg" width="48" height="48" class="login-logo-mdp">
					<h3 class="titreMain">{{title}}</h3>
				</a>
			</li>
			<li>
				<div class="container">
					<h3 class="hover-me">Florains :
						{{ florins }}</h3>
					<div class="tooltip">
						<p>Money Money Money 💸</p>
					</div>
				</div>
			</li>
			<li>
				<div class="InputContainer">
					<input type="text" name="text" class="inputSearch" id="recherche" placeholder="Search">

					<label for="input" class="labelforsearch">
						<svg viewbox="0 0 512 512" class="searchIcon" onclick="filtrageAnnonces()">
							<path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
						</svg>
					</label>
					<div class="border"></div>
					<img src="/img/web.png" height="20" width="20" style="margin-left: 2%; margin-right :2%" id="filtreID">
					<div class="border"></div>
					<img src="/img/icons8-cancel.svg" height="20" width="20" style="margin-left: 2%; margin-right :2%" onclick="clearSearch()">
				</div>
			</li>	
			<li class="menu-deroulant">
				<a href="" class="nomUser">{{user.getNomCompte()}} &#10224;
				</a>
				<ul class="sous-menu">
					<li>
						<a href="/infos">
							<h4>Informations personnelles</h4>
						</a>
					</li>
					<li>
						<a href="/mes_annonces">
							<h4>Mes annonces</h4>
						</a>
					</li>
					<li>
						<a href="/abonnement">
							<h4>Abonnement</h4>
						</a>
					</li>
					<li>
						<a href="/notification" class="notification">
							<h4>Notification</h4>
							{% if nbNotif != 0 %}
								<span>{{ nbNotif }}</span>
							{% endif %}
						</a>
					</li>
					<li>
						<a href="/gel">
							<h4>Gel/Degel du compte</h4>
						</a>
					</li>
					<li>
						<a href="/mes/transactions">
							<h4>Vos transactions</h4>
						</a>
					</li>
					<li>
						<a href="/litige">
							<h4>Vos litiges</h4>
						</a>
					</li>
					{{ adminHtml|raw }}
					<li>
						<a href="/infos/supprimer">
							<h4>Supprimer son compte</h4>
						</a>
					</li>
					<li>
						<a href="/logout">
							<h4>Déconnexion</h4>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="rechercheOptions" class="filtre" style="display : none">
		<div class="titre_filtre">Filtres</div>
		<div class="EmSe">
			<div>
				<input type="radio" id="emprunt" name="ES" class="TypeChoisi" value="emprunt">
				<label for="emprunt">Emprunt</label>
			</div>
			<div>
				<input type="radio" id="service" name="ES" class="TypeChoisi" value="service">
				<label for="service">Service
				</label>
			</div>
		</div>
		<div class="cate">
			<ul>
				<p style="font-weight : 400;">Catégorie :</p>
				<li><input value="bricolage" type="checkbox" class="ui-checkbox" name="categories"><label for="">Bricolage</label>
				</li>
				<li><input value="vehicule" type="checkbox" class="ui-checkbox" name="categories"><label for="">Véhicule</label>
				</li>
				<li><input value="immobilier" type="checkbox" class="ui-checkbox" name="categories"><label for="">Immobilier</label>
				</li>
				<li><input value="electronique" type="checkbox" class="ui-checkbox" name="categories"><label for="">Eléctronique</label>
				</li>
				<li><input value="maison" type="checkbox" class="ui-checkbox" name="categories"><label for="">Maison</label>
				</li>
				<li><input value="modes" type="checkbox" class="ui-checkbox" name="categories"><label for="">Modes</label>
				</li>
				<li><input value="divers" type="checkbox" class="ui-checkbox" name="categories"><label for="">Divers</label>
				</li>
				<ul></div>
				<div class="prix">
					<div>
						<label for="prixMin">Prix minimum</label>
						<input type="text" id="prixMin" name="prixMin" class="prixI">
					</div>
					<div>
						<label for="prixMax">Prix maximum</label>
						<input type="text" id="prixMax" name="prixMax" class="prixI">
					</div>
				</div>
				<div class="date">
					<div>
						<label for="dateD">Date de début</label>
						<input type="date" id="DateD" name="date" class="dateI" min=""></div>
					<div>
						<label for="DateF">Date de fin</label>
						<input type="date" id="DateF" name="date" class="dateI" min=""></div>
				</div>
				<div class="valider">
					<div>
						<input type="submit" id="ValiderF" name="ValiderF" value="Valider" onclick="filtrageAnnonces()">
					</div>
					<div>
						<input type="reset" id="ClearF" name="ClearF" value="Effacer" onclick="clearFilter()">
					</div>
				</div>
			</div>
			<main>
				<div class="loader" id="loader" style="display : none"></div>
				<div>
					{% if paiement %}
					<button type="button" class="add-btn" onclick="afficherAddAnnonce()">
						<h4 style="font-size : 1.2vw">Ajouter une annonce</h4>
					</button>
					{% else %}
						<br>
						<p style="margin-left : 35vw;">Merci de payer l'<a href="/subscribe">abonnement</a> si vous voulez poster une annonce !</p>
						<br>
					{% endif %}
				</div>
				{{ form_start(form) }}
				{% if error is defined and error == "pasValide" %}
					<div class="card" id="card">
					{% else %}
						<div class="card" id="card" style="display : none;">
						{% endif %}
						<h3 class="card__title">
							Ajouter une annonce
						</h3>
						<div class="card__content_img">
							<img src="" width="150" height="150" id="img1" onclick="clickphoto()">
							<img src="" width="150" height="150" id="img2" onclick="clickphoto()">
							<img src="" width="150" height="150" id="img3" onclick="clickphoto()">
						</div>
						<div class="card__content">
							{{form_row(form.titre)}}
						</div>
						<div class="card__content">
							{{form_row(form.description)}}
						</div>
						<div class="card__content">
							{{form_row(form.prix)}}
							<img src="/img/florain.png" width="48" height="48" id="florain">
						</div>
						<div class="card__content">
							{{form_row(form.ajouterPhoto)}}
							{{form_row(form.ajouterPhoto2)}}
							{{form_row(form.ajouterPhoto3)}}
						</div>
						<div class="card__content">
							{{form_row(form.categorie)}}
						</div>
						<div class="switch">
							<div class="ES1">Emprunt</div>
							<div class="toggle-switch">
								<input name="toggle" class="toggle-input" id="toggle" type="checkbox">
								<label class="toggle-label" for="toggle"></label>
							</div>
							<div class="ES2">Service</div>
						</div>
						<div class="card__btn">
							<button type="button" class="annonce-btn" onclick="annulerAddAnnonce()">
								<b>Annuler</b>
							</button>
							<section>
								<div class="overlay"></div>
								<div class="modal-box">
									<i class="fa-regular fa-circle-check"></i>
									<h2>Annonce créée</h2>
									<h3>Votre annonce a été créé avec succès, vous pouvez ajouter des disponibilités maintenant ou le faire plus tard</h3>
									<div class="buttons">
										<button class="close-btn">Plus tard</button>
										<button>Maintenant</button>
									</div>
								</div>
							</section>
							<button type="button" class="show-modal" onclick="vérifierForm()">Créer</button>
							<script>
								const section = document.querySelector("section"),
								overlay = document.querySelector(".overlay"),
								showBtn = document.querySelector(".show-modal"),
								closeBtn = document.querySelector(".close-btn");
							  
							  
							  overlay.addEventListener("click", () =>
								section.classList.remove("active")
							  );
							  
							  closeBtn.addEventListener("click", () =>
								section.classList.remove("active")
							  );
							</script>
							{{ form_end(form) }}
						</div>
					</div>

					<div class="annonces_liste">
						{% for annonce in annonces %}
							<div class="card_list" id="card">
								<h3 class="card__title" id="titreAnnonce">
									{{ annonce.getNomAnnonce|replace({"&#039;": "'", "&quot;":"\""}) }}
								</h3>
								<div class="card__content">
									<p id="categorieAnnonce">{{ annonce.getCategorie }}</p>
								</div>
								<div class="card__content_img">
									<img class="annonce_image" src="{{ '/picturesAnnouncement/' ~ annonce.getImageAnnonce|split('|')[0] }}" alt="" width="auto" height="auto">
								</div>
								<div class="card__content">
									<p id="descAnnonce">{{ annonce.getDescription|replace({"&#039;": "'", "&quot;":"\""}) }}</p>
								</div>
								<div class="card__content card__content_prix">
									<p id="price_annonce">Prix :
										{{ annonce.getPrix }}</p>
									{% if annonce.getEstUnEmprunt %}
										<p id="type_annonce">Type : Emprunt</p>
									{% else %}
										<p id="type_annonce">Type : Service</p>
									{% endif %}
								</div>
								<div class="card__btn">
									<a href="./main/choisir/{{ annonce.getId }}" class="annonce-btn">Choisir</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</main>
				<footer>
					<ul>
						<li><a href="/mentions_legales"><h5>Mentions légales</h5></a></li>
						<li><a href=""><h5></h5></a></li>
						<li><a href=""><h5>© Copyright 2024 ECOPRET<br>Tous droits réservés.</h5></a></li>
					</ul>
				</footer>

			{% endblock %}
